html, body {
  height: 100%;
}
body {	
  display: flex;
  flex-direction: column; 
}
.content{
	flex-grow: 1;
}
footer {
  font-size: 15px;
}
footer a {
  text-decoration: underline;
}
footer a:focus,footer a:hover {
  color: #ffffff;
  /*text-decoration: underline*/
}
footer ul li{
  margin-top: 2%;
 }
.my-style{
  color: #dbdbdb;
  background-color: #212121;
}
a {
	color: white;
}





